.aboutContainer {
    margin-top: 2%;

    .text {
        margin-top: 2%;
        margin-bottom: 12%;
    }
    .header,
    .description,
    .resume {
        font-family: 'Baloo Tamma 2', cursive;
        margin-left: 6%;
    }

    .header {
        font-size: 3.5rem;
    }

    .description {
        font-size: 1rem;
        width: 40%;
        color: #787878;
    }

    .resume {
        font-size: 1.2rem;
        color: #17fdda;
        text-decoration: none;
    }

    .bodyTag {
        margin-left: 3%;
    }
    @media (min-width: 481px) and (max-width: 1024px) {
        img {
            display: none;
        }
    }
    @media (min-width: 0px) and (max-width: 699px) and (orientation: landscape) {
        display: none;
    }
}

span,
.header::before,
.header::after,
.description::before,
.description::after,
.resume::before,
.resume::after {
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 1rem;
}

.header::before {
    content: '<h1>';
}

.header::after {
    content: '</h1>';
}

.description::before {
    content: '<p>';
}

.description::after {
    content: '</p>';
}

.resume::before {
    content: '<a>';
}

.resume::after {
    content: '</a>';
}

.skills {
    position: absolute;
    right: 6%;
    top: 4%;
    background-color: red;

    ul {
        li {
            p {
                color: white;
            }
        }
    }
}