.footer {
    display: grid;
    place-content: center;
    text-align: center;
    background-color: #1d1d1d;
    color: white;
    grid-area: footer;

    p {
        font-weight: 550;
        font-size: 1.2rem;
    }
    
    @media (min-width: 0px) and (max-width: 699px) and (orientation: landscape) {
        display: none;
}
}